body{background-color: #2ECC71}


section{
	clear:both;
}
nav{
	position:fixed;
	margin-top: 10%;
	border:10px solid blue;
}
header{
	position: fixed;
	
	line-height:5%;
	border:10px solid red;

}
img{
	height:20%;
	width:80%;
	float:right;
}


