
nav{
	position:fixed;
	/*border:10px solid blue;*/
	padding-bottom:100%;
	padding-left: 1%;
	background-color:#191A20;
	margin: -3%;
	/*margin-top:7%;*/
	font-family: verdana;
	width:200px;
	color:white;

}
nav a{
	text-decoration: none;
	color:black;
	color:white;
}
nav ul{
	list-style-type: none;
	line-height: 400%
}
.header{
	/*border: 2px solid red;*/
	padding:10%;
	font-size: 4%;

}
section{
	float:right;
	/*border:10px solid green;*/
	margin-right: 15%;
	max-width: 90%;
	background-image: url('lighthouse.jpg');
	color:white;


}
section p{
	font-size: 5em;
	line-height: 5%;
	font-family: Verdana;
}
section a{
	text-decoration: none;
	border: 5px solid white;
	font-size: 2em;
	color:white;

}
body{
	
	background-image: url('../images/bxsci.jpg');
	-webkit-filter: opacity(50%);
	background-color: #2ECC71;

}


