body{background-color: #34B67A;}
/*	position: fixed;
	line-height:5%;
	border:10px solid red;
	font-size: .5em;
	margin:-2%;
	background-color:aqua;
	font-family: verdana;

}*/
nav{
	position:fixed;
	border:10px solid blue;
	padding-bottom:100%;
	padding-left: 1%;
	background-color:aqua;
	margin: -3%;
	/*margin-top:7%;*/
	font-family: verdana;

}
nav a{
	text-decoration: none;
	color:black;
}
nav ul{
	list-style-type: none;
}
.header{
	border: 2px solid red;
	
	padding:10%;
	font-size: 4%;

}
section{
	float:right;
	border:10px solid green;
	margin-right: 15%;

}
section p{
	font-size: 5em;
	line-height: 5%;
	font-family: Verdana;
}
section a{
	text-decoration: none;
	color:black;
	border: 5px solid black;
	font-size: 2em;
}

